<div id="admin">
  <div class="admindiv">
  <div><i class="menu--icon  fa fa-fw fa-gear"></i></div>
  <form id="form" ng-submit="addTrackEvent()">
    <div style="width: 100%">
      <div class="input" style="display: inline-block">
        <input type="number" ng-model="trackEvent.round" placeholder="round #" required></input>
      </div>
      <div class="select" style="display: inline-block">
        <select name="select" id="aelect" ng-model="trackEvent.track">
          <option value="">---Select track---</option>
          <option value="BWR">BWR</option>
          <option value="SRW">SRW</option>
          <option value="MRLS">MRLS</option>
          <option value="THR2">THR2</option>
          <option value="THR3C">THR3C</option>
          <option value="THR3B">THR3B</option>
          <option value="THR5">THR5</option>
        </select>
      </div>
      <div class="input" style="display: inline-block">
        <input type="date" ng-model="trackEvent.date" required></input>
      </div>
    </div>
    <h4> Stock </h4>
      <div>
        <div ng-repeat="racer in trackEvent.stock.racers">
          <div class="admin-racer">
            <div class="racer-name">{{racer.name}}</div>
            <div class="racer-add">{{racer.add}}</div>
            <input class="racer-time" type="text" ng-model="racer.time" placeholder="lap time"></input>
            <input class="racer-delete" type="text" ng-model="racer.delete" placeholder="type delete here to del user"></input>
          </div>
        </div>
      </div>

    <h4> Street </h4>
      <div>
        <div ng-repeat="racer in trackEvent.street.racers">
          <div class="admin-racer">
            <div class="racer-name">{{racer.name}}</div>
            <div class="racer-add">{{racer.add}}</div>
            <input class="racer-time" type="text" ng-model="racer.time" placeholder="lap time"></input>
            <input class="racer-delete" type="text" ng-model="racer.delete" placeholder="type delete here to del user"></input>
          </div>
        </div>
      </div>

    <h4> Limited </h4>
      <div>
        <div ng-repeat="racer in trackEvent.limited.racers">
          <div class="admin-racer">
            <div class="racer-name">{{racer.name}}</div>
            <div class="racer-add">{{racer.add}}</div>
            <input class="racer-time" type="text" ng-model="racer.time" placeholder="lap time"></input>
            <input class="racer-delete" type="text" ng-model="racer.delete" placeholder="type delete here to del user"></input>
          </div>
        </div>
      </div>

    <h4> Unlimited </h4>
      <div>
        <div ng-repeat="racer in trackEvent.unlimited.racers">
          <div class="admin-racer">
            <div class="racer-name">{{racer.name}}</div>
            <div class="racer-add">{{racer.add}}</div>
            <input class="racer-time" type="text" ng-model="racer.time" placeholder="lap time"></input>
            <input class="racer-delete" type="text" ng-model="racer.delete" placeholder="type delete here to del user"></input>
          </div>
        </div>
      </div>
      <div class="calc__message">After entering in lap times, click 'Calculate Points'</div>
      <input class="button blue" style="margin-top: 20px; color:white" type="button" value="Calculate Points" ng-click="calculate()"></input><br>
      <input class="button blue" type="submit" value="Submit Event" ng-show="calculated">
  </form>
  <div class="admin__message" ng-show="!!message">{{ message }}</div>

  <input class="button red controls" style="margin-top: 20px; color:orange" type="button" value="Deletion Controls" ng-click="nukeControls()" ng-show="revealButton"></input><br>
  <button class="button red nuke" ng-click="deleteUsers()" ng-show="nukesRevealed">
    <span><i style="color:orange;width:auto;font-size:20px" class="fa fa-fw fa-exclamation-circle"></i></span>
    <span style="display:inline-block;width:auto">Delete Users</span>
  </button><br>

  <button class="button red nuke" ng-click="deleteTrackEvents()" ng-show="nukesRevealed">
    <span><i style="color:orange;width:auto;font-size:20px" class="fa fa-fw fa-exclamation-circle"></i></span>
    <span style="display:inline-block;width:auto">Delete Events</span>
  </button><br>

  </div>
  <!-- <div id="padding"></div> -->
</div>