<div id="admin">
  <div class="admindiv">
  <div><i class="menu--icon  fa fa-fw fa-gear"></i></div>
  <form ng-submit="addTrackEvent()">
    <input type="number" ng-model="trackEvent.round" placeholder="round #" required></input>
    <input type="text" ng-model="trackEvent.track" placeholder="enter track name" required></input>
    <input type="date" ng-model="trackEvent.date" required></input>
    <h4> Stock </h4>
      <div>
        <div ng-repeat="racer in trackEvent.stock.racers">
          <div class="admin-racer">
            <div class="racer-name">{{racer.name}}</div>
            <input class="racer-add" type="number" ng-model="racer.add" placeholder="enter pts"></input>
            <input class="racer-time" type="text" ng-model="racer.time" placeholder="enter time"></input>
            <input class="racer-delete" type="text" ng-model="racer.delete" placeholder="type delete here to del user"></input>
          </div>
        </div>
      </div>

    <h4> Street </h4>
      <div>
        <div ng-repeat="racer in trackEvent.street.racers">
          <div class="admin-racer">
            <div class="racer-name">{{racer.name}}</div>
            <input class="racer-add" type="number" ng-model="racer.add" placeholder="enter event pts"></input>
            <input class="racer-time" type="text" ng-model="racer.time" placeholder="enter lap time"></input>
            <input class="racer-delete" type="text" ng-model="racer.delete" placeholder="type delete here to del user"></input>
          </div>
        </div>
      </div>

    <h4> Limited </h4>
      <div>
        <div ng-repeat="racer in trackEvent.limited.racers">
          <div class="admin-racer">
            <div class="racer-name">{{racer.name}}</div>
            <input class="racer-add" type="number" ng-model="racer.add" placeholder="enter event pts"></input>
            <input class="racer-time" type="text" ng-model="racer.time" placeholder="enter lap time"></input>
            <input class="racer-delete" type="text" ng-model="racer.delete" placeholder="type delete here to del user"></input>
          </div>
        </div>
      </div>

    <h4> Unlimited </h4>
      <div>
        <div ng-repeat="racer in trackEvent.unlimited.racers">
          <div class="admin-racer">
            <div class="racer-name">{{racer.name}}</div>
            <input class="racer-add" type="number" ng-model="racer.add" placeholder="enter event pts"></input>
            <input class="racer-time" type="text" ng-model="racer.time" placeholder="enter lap time"></input>
            <input class="racer-delete" type="text" ng-model="racer.delete" placeholder="type delete here to del user"></input>
          </div>
        </div>
      </div>

    <input style="width:50%" type="text" ng-model="trackEvent.nuke" placeholder="type nuke to delete all users"></input><br>
    <input type="submit" value="add">
  </form>
  </div>
</div>