<div id="pevents">
  <div class="standingsdiv">
    <div><i class="menu--icon--page  fa fa-fw fa-globe"><h3>Past Events</h3></i></div>
    <div id="event" ng-repeat="event in events">
      <div id="event-details">
        <div class="event-details">Round {{event.round}}</div>
        <div class="event-details"> {{event.track}}</div>
        <div class="event-details">{{event.date}}</div>
      </div>

      <div id="class-header" ng-show="event.hasStock"><h4> Stock </h4></div>
        <div class="cat" ng-show="event.hasStock">
          <div ng-repeat="racer in event.stock">
            <div>
              <div class="racer name" ng-click="redirectToUserStock($event)">{{racer.name}}</div>
              <div class="racer rank">{{racer.time}}</div>
              <div class="racer pts">{{racer.add.toString() + ' pts'}}</div>
            </div>
          </div>
        </div>

      <div id="class-header" ng-show="event.hasStreet"><h4> Street </h4></div>
        <div class="cat" ng-show="event.hasStreet">
          <div ng-repeat="racer in event.street">
            <div>
              <div class="racer name" ng-click="redirectToUserStreet($event)">{{racer.name}}</div>
              <div class="racer rank">{{racer.time}}</div>
              <div class="racer pts">{{racer.add.toString() + ' pts'}}</div>
            </div>
          </div>
        </div>

      <div id="class-header" ng-show="event.hasLimited"><h4> Limited </h4></div>
        <div class="cat" ng-show="event.hasLimited">
          <div ng-repeat="racer in event.limited">
            <div>
              <div class="racer name" ng-click="redirectToUserLimited($event)">{{racer.name}}</div>
              <div class="racer rank">{{racer.time}}</div>
              <div class="racer pts">{{racer.add.toString() + ' pts'}}</div>
            </div>
          </div>
        </div>

      <div id="class-header" ng-show="event.hasUnlimited"><h4> Unlimited </h4></div>
        <div class="cat" ng-show="event.hasUnlimited">
          <div ng-repeat="racer in event.unlimited">
            <div>
              <div class="racer name" ng-click="redirectToUserUnlimited($event)">{{racer.name}}</div>
              <div class="racer rank">{{racer.time}}</div>
              <div class="racer pts">{{racer.add.toString() + ' pts'}}</div>
            </div>
          </div>
        </div>
  </div>
</div>