<div id="profile">
  <center>
    <div class="profilediv">
      <div><i class="menu--icon  fa fa-fw fa-user"><h3>{{username.name}}</h3></i></div>
      <div></div>
      <center>
        <label class="circles avatar">
          <image id="pic" src="{{avatar}}"></image>
        </label>

        <div class="userinfo">
          <div class="circles modPts"><span>Mod Pts <br> {{modPts}}</span></div>
          <div class="circles class"><span>{{class}}</span></div>
        </div>
        
      </center>
      <div class="profile1">
        <div class="instructions">Here are their mods:</div>

        <span class="category"><h1> Engine and Drivetrain </h1></span>
        <div id="mod-container">
          <div ng-repeat="mod in modList.mods.drivetrain">
            <div id="mod">
              <label class="mod">
                <div class="box-profiles">
                  <div class="submod name"><div>{{mod.name}}</div></div>
                  <div class="submod value"><div class="circ"><div>{{mod.value}}</div></div></div>
                </div>
              </label>
            </div>
          </div>
        </div>

        <span class="category"><h1> Wheels and Tires </h1></span>
        <div id="mod-container">
          <div ng-repeat="mod in modList.mods.wheels">
            <div id="mod">
              <label class="mod">
                <div class="box-profiles">
                  <div class="submod name"><div>{{mod.name}}</div></div>
                  <div class="submod value"><div class="circ"><div>{{mod.value}}</div></div></div>
                </div>
              </label>
            </div>
          </div>
        </div>

        <span class="category"><h1> Aerodynamics </h1></span>
        <div id="mod-container">
          <div ng-repeat="mod in modList.mods.aero">
            <div id="mod">
              <label class="mod">
                <div class="box-profiles">
                  <div class="submod name"><div>{{mod.name}}</div></div>
                  <div class="submod value"><div class="circ"><div>{{mod.value}}</div></div></div>
                </div>
              </label>
            </div>
          </div>
        </div>

        <span class="category"><h1> Suspension </h1></span>
        <div id="mod-container">
          <div ng-repeat="mod in modList.mods.suspension">
            <div id="mod">
              <label class="mod">
                <div class="box-profiles">
                  <div class="submod name"><div>{{mod.name}}</div></div>
                  <div class="submod value"><div class="circ"><div>{{mod.value}}</div></div></div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </center>
</div>