<div id="profile">
  <center>
    <div class="profilediv">
      <div><i class="menu--icon  fa fa-fw fa-user"><h3>{{username.name}}</h3></i></div>
      <div></div>
      <center>
        <label class="circles avatar">
          <image id="pic" src="{{avatar}}"></image>
        </label>

        <div class="userinfo">
          <div class="circles modPts-other"><span>Mod Pts <br> {{modPts}}</span></div>
          <div class="circles class-other"><span>{{class}}</span></div>
        </div>
        
      </center>
      <div class="profile1">
        <div class="instructions">Here are their mods:</div>

        <span class="category-other"><h1> Engine and Drivetrain </h1></span>
        <div id="mod-container">
          <div ng-repeat="mod in modList.mods.drivetrain">
            <div id="mod">
              <label class="mod">
                <div class="box-profiles">
                  <div class="submod name"><div>{{mod.name}}</div></div>
                  <div class="submod value"><div class="circ"><div>{{mod.value}}</div></div></div>
                </div>
              </label>
            </div>
          </div>
        </div>

        <span class="category-other"><h1> Wheels and Tires </h1></span>
        <div id="mod-container">
          <div ng-repeat="mod in modList.mods.wheels">
            <div id="mod">
              <label class="mod">
                <div class="box-profiles">
                  <div class="submod name"><div>{{mod.name}}</div></div>
                  <div class="submod value"><div class="circ"><div>{{mod.value}}</div></div></div>
                </div>
              </label>
            </div>
          </div>
        </div>

        <span class="category-other"><h1> Aerodynamics </h1></span>
        <div id="mod-container">
          <div ng-repeat="mod in modList.mods.aero">
            <div id="mod">
              <label class="mod">
                <div class="box-profiles">
                  <div class="submod name"><div>{{mod.name}}</div></div>
                  <div class="submod value"><div class="circ"><div>{{mod.value}}</div></div></div>
                </div>
              </label>
            </div>
          </div>
        </div>

        <span class="category-other"><h1> Suspension </h1></span>
        <div id="mod-container">
          <div ng-repeat="mod in modList.mods.suspension">
            <div id="mod">
              <label class="mod">
                <div class="box-profiles">
                  <div class="submod name"><div>{{mod.name}}</div></div>
                  <div class="submod value"><div class="circ"><div>{{mod.value}}</div></div></div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div><i class="menu--icon  fa fa-fw fa-line-chart"><h3>{{username.name}}</h3></i></div>
      <div id="class-header"><h4> Buttonwillow Raceway Park </h4></div>
        <div class="cat">
          <div ng-repeat="stat in tracks.BWR">
            <div>
              <div class="racer rank">Round {{stat.round}}</div>
              <div class="racer pts">{{stat.date}}</div>
              <div class="racer name">{{stat.racer.time}}</div>
            </div>
          </div>
        </div>

        <div id="class-header"><h4> Mazda Raceway Laguna Seca </h4></div>
        <div class="cat">
          <div ng-repeat="stat in tracks.MRLS">
            <div>
              <div class="racer rank">Round {{stat.round}}</div>
              <div class="racer pts">{{stat.date}}</div>
              <div class="racer name">{{stat.racer.time}}</div>
            </div>
          </div>
        </div>

        <div id="class-header"><h4> Sonoma Raceway Park </h4></div>
        <div class="cat">
          <div ng-repeat="stat in tracks.SRW">
            <div>
              <div class="racer rank">Round {{stat.round}}</div>
              <div class="racer pts">{{stat.date}}</div>
              <div class="racer name">{{stat.racer.time}}</div>
            </div>
          </div>
        </div>

        <div id="class-header"><h4> Thunderhill Raceway 3 Mile </h4></div>
        <div class="cat">
          <div ng-repeat="stat in tracks.THR3">
            <div>
              <div class="racer rank">Round {{stat.round}}</div>
              <div class="racer pts">{{stat.date}}</div>
              <div class="racer name">{{stat.racer.time}}</div>
            </div>
          </div>
        </div>

        <div id="class-header"><h4> Thunderhill Raceway 2 Mile </h4></div>
        <div class="cat">
          <div ng-repeat="stat in tracks.THR2">
            <div>
              <div class="racer rank">Round {{stat.round}}</div>
              <div class="racer pts">{{stat.date}}</div>
              <div class="racer name">{{stat.racer.time}}</div>
            </div>
          </div>
        </div>

        <div id="class-header"><h4> Thunderhill Raceway 5 Mile </h4></div>
        <div class="cat">
          <div ng-repeat="stat in tracks.THR5">
            <div>
              <div class="racer rank">Round {{stat.round}}</div>
              <div class="racer pts">{{stat.date}}</div>
              <div class="racer name">{{stat.racer.time}}</div>
            </div>
          </div>
        </div>
    </div>
  </center>
</div>