body {
  font-family: 'roboto', verdana;
/*  background: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('../assets/background06.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: 70% 90%;
  background-repeat: no-repeat;*/
}

#profile {
  background: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('../assets/background05.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: 70% 90%;
  background-repeat: no-repeat;
}

#main {
  background: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('../assets/background03.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: 70% 90%;
  background-repeat: no-repeat;
}

.intro {
  height: 50px;
}

.announcements {
  height: 300px;
}

.standings {
  height: 300px;
}

.upcoming {
  height: 300px;
}

.maindiv {
  padding: 15px;
  width: 90%;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  box-shadow: 0 0 20px 5px rgba(0,0,0, 0.7);
}

.sidebar {
  background-color: #A70138;
}

ul.sidebar .sidebar-main a {
  background-color: #7C0029;
}

#sidebar-wrapper {
  background-color: #7C0029;
}

ul.sidebar .sidebar-list a:hover {
  background-color: #7C0029;
}

.glyphicon-transfer:before {
  content: "\e178";
}

.col-xs-4 {
  background-color: #7C0029;
}

.category h1 {
  color: #7C0029;
  margin: 5%;
}

.racer {
  width:100px;
  display:inline-block;
}

h4, h2, h3, h1 {
  text-align:center;

}

.userinfo {
  width: 90%;
  text-align:center;
  display: inline-block;
  margin: 0 auto;
}

.instructions {
  margin-top: 5%;
  text-align: center;
}

#mod {
  margin: 2%;
  text-align:center;

}

#mod label {
  font-weight: 400;
  width: 90%;
  margin: 1%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #D0D0D0;
  cursor: pointer;
  box-shadow: 0 0 10px 4px rgba(0,0,0, 0.5);
}

#mod label div {
  /*text-align:center;*/
  font-size:16px;
  padding: 1% 0px;
}

#mod label input {
  display: none;
}

#mod input:checked + div {
  border-radius:10px;
  border:1px solid #D0D0D0;
  background-color: #738BC0;
  color:white;
  box-shadow: 0 0 12px 7px rgba(255,255,255, 1);
}

.mod {
  background-color:white;
  color:#333;
  display:inline-block;
  width: 80%;
  vertical-align: middle;
}

.submod {
  display:inline-block;
  vertical-align: middle;
}

.submod.name {
  display:inline-block;
  width: 70%;
  height: 20%;
  margin: 1%;
}

.submod.name div {
  /*text-align: center;*/
  /*position: relative;*/
  /*top: 50%;*/
  /*-ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);*/
}

.submod.value {
  vertical-align: middle;
  width: 15%;
  height: 15%;
  margin: 1%;
}

.circ {
  vertical-align: middle;
  margin: 0 auto;
  width: 10vmin;
  height: 10vmin;
  border: 1px solid #D0D0D0;
  border-radius: 50%;
}

.circ div {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.profile1 {
  margin: 0 auto;
}

.circles {
  display:inline-block;
  font-size: 24px;
  width: 30vmin;
  height: 30vmin;
  border-radius: 50%;
}

.modPts {
  /*border: 1px solid black;*/
  margin-top: 25px;
  margin-right:100px;
  background-color: #A70138;
  color: white;
  font-weight: 600;
  width: 30vmin;
  height: 30vmin;
  line-height: 30vmin;
  text-align: center;
}

.modPts span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
}

.class {
  /*border: 1px solid black;*/
  margin-top: 25px;
  margin-left:100px;
  background-color: #A70138;
  color: white;
  font-weight: 600;
  width: 30vmin;
  height: 30vmin;
  line-height: 28vmin;
  text-align: center;
}

.class span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
}

.avatar {
  margin-top: 25px;
  width: 60vmin;
  height: 60vmin;
  text-align: center;
  cursor: pointer;
}

.avatar img {
  border: 1px solid black;
  width: 60vmin;
  height: 60vmin;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 10px 4px rgba(0,0,0, 0.5);
}

#file {
  display: none;
}

@media only screen and (max-width: 320px) {

   body { font-size: 2em; }

}
