<div id="profile" ng-controller="ProfileController">
<center>
<div class="maindiv">
<h1> {{username.name}}'s Profile </h1>
<form ng-submit="updateMods()">
<center>
  <label class="circles avatar">
    <image id="pic" src="{{avatar}}"></image>
    <input  onchange="angular.element(this).scope().add()" type="file" id="file" name="file">
  </label>

    <!-- <div class="circles avatar"><img src="{{avatar}}"></img></div> -->
  <div class="userinfo">
    <div class="circles modPts"><span>Mod Pts <br> {{modPts}}</span></div>
    <div class="circles class"><span>{{class}}</span></div>
  </div>
  
</center>
<div class="profile1">
  <div class="instructions">Select your mods and click 'submit' at the bottom</div>
  

    <span class="category"><h1> Engine and Drivetrain </h1></span>
      <div>
        <div ng-repeat="mod in modList.mods.drivetrain">
          <div id="mod">
            <label class="mod">
              <input type="checkbox" name="toggle" class="{{$index}}">
              <div class="box" ng-click="toggleActiveDrivetrain($index, $event)">
                <div class="submod name"><div>{{mod.name}}</div></div>
                <div class="submod value"><div class="circ"><div>{{mod.value}}</div></div></div>
              </div>
            </label>
          </div>
        </div>
      </div>

    <span class="category"><h1> Wheels and Tires </h1></span>
      <div>
        <div ng-repeat="mod in modList.mods.wheels">
          <div id="mod">
            <label class="mod">
              <input type="checkbox" name="toggle">
              <div ng-click="toggleActiveWheels($index)">
                <div class="submod name"><div>{{mod.name}}</div></div>
                <div class="submod value"><div class="circ"><div>{{mod.value}}</div></div></div>
              </div>
            </label>
          </div>
        </div>
      </div>

    <span class="category"><h1> Aerodynamics </h1></span>
      <div>
        <div ng-repeat="mod in modList.mods.aero">
          <div id="mod">
            <label class="mod">
              <input type="checkbox" name="toggle">
              <div ng-click="toggleActiveAero($index)">
                <div class="submod name"><div>{{mod.name}}</div></div>
                <div class="submod value"><div class="circ"><div>{{mod.value}}</div></div></div>
              </div>
            </label>
          </div>
        </div>
      </div>

    <span class="category"><h1> Suspension </h1></span>
      <div>
        <div ng-repeat="mod in modList.mods.suspension">
          <div id="mod">
            <label class="mod">
              <input type="checkbox" name="toggle">
              <div ng-click="toggleActiveSuspension($index)">
                <div class="submod name"><div>{{mod.name}}</div></div>
                <div class="submod value"><div class="circ"><div>{{mod.value}}</div></div></div>
              </div>
            </label>
          </div>
        </div>
      </div>
      
    <input type="submit" value="submit">
</div>
</form>
</div>
</center>
</div>