

<div id="standings">
  <div class="standingsdiv">
    <div><i class="menu--icon--page  fa fa-fw fa-flag"><h3>Standings</h3></i></div>
    <div class="instructions">Click on a competitor to see their profile</div>
    <div id="class-header" ng-show="unlimited.hasUnlimited"><h4> Stock </h4></div>
      <div class="cat" ng-show="stock.hasStock">
        <div ng-repeat="racer in stock.racers">
          <div>
            <div class="racer rank">{{racer.rank}}</div>
            <div class="racer avatar2" ng-click="redirectToUserStock($index)"><image src="{{racer.avatar}}"></image></div>
            <div class="racer name" ng-click="redirectToUserStock($index)">{{racer.username}}</div>
            <div class="racer pts">{{racer.total.toString() + ' pts'}}</div>
          </div>
        </div>
      </div>

    <div id="class-header" ng-show="unlimited.hasUnlimited"><h4> Street </h4></div>
      <div class="cat" ng-show="street.hasStreet">
        <div ng-repeat="racer in street.racers">
          <div>
            <div class="racer rank">{{racer.rank}}</div>
            <div class="racer avatar2" ng-click="redirectToUserStreet($index)"><image src="{{racer.avatar}}"></image></div>
            <div class="racer name" ng-click="redirectToUserStreet($index)">{{racer.username}}</div>
            <div class="racer pts">{{racer.total.toString() + ' pts'}}</div>
          </div>
        </div>
      </div>

    <div id="class-header" ng-show="unlimited.hasUnlimited"><h4> Limited </h4></div>
      <div class="cat" ng-show="limited.hasLimited">
        <div ng-repeat="racer in limited.racers">
          <div>
            <div class="racer rank">{{racer.rank}}</div>
            <div class="racer avatar2" ng-click="redirectToUserLimited($index)"><image src="{{racer.avatar}}"></image></div>
            <div class="racer name" ng-click="redirectToUserLimited($index)">{{racer.username}}</div>
            <div class="racer pts">{{racer.total.toString() + ' pts'}}</div>
          </div>
        </div>
      </div>

    <div id="class-header" ng-show="unlimited.hasUnlimited"><h4> Unlimited </h4></div>
      <div class="cat" ng-show="unlimited.hasUnlimited">
        <div ng-repeat="racer in unlimited.racers">
          <div>
            <div class="racer rank">{{racer.rank}}</div>
            <div class="racer avatar2" ng-click="redirectToUserUnlimited($index)"><image src="{{racer.avatar}}"></image></div>
            <div class="racer name" ng-click="redirectToUserUnlimited($index)">{{racer.username}}</div>
            <div class="racer pts">{{racer.total.toString() + ' pts'}}</div>
          </div>
        </div>
      </div>
  </div>
</div>